/* You can add global styles to this file, and also import other style files */
// Definición de colores


html, body { 
    height: 100%; 
}
  
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
  
// Definición de estilos globales
  
// Colores
$primary-color: #3f51b5; // Color principal
$accent-color: #ff4081; // Color de acento
$warn-color: #f44336; // Color de advertencia

// Estilos para tarjetas
.card {
    background-color: #f9f9f9;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

// Estilos para títulos de tarjetas
.card-title {
    font-size: 24px;
    font-weight: bold;
    color: #424242;
    margin-bottom: 16px; // Espacio debajo del título
}

// Estilos para tablas
.table {
    width: 100%;
    border-radius: 12px;
    overflow: hidden; // Para mantener el borde redondeado
}

.header-cell {
    font-weight: bold;
    font-size: 14px;
    color: #050505; // Cambiar el color del texto de las cabeceras a blanco
    background-color: #1129b3; // Cambiar el color de fondo de las cabeceras
    padding: 16px;
    text-align: left;
}
  
.cell {
    padding: 16px;
    font-size: 14px;
    color: #424242;
    border-bottom: 1px solid #e0e0e0; // Línea divisoria entre filas
}
  
.header-row {
    background-color: #3f51b5; // Mantener el color de fondo para la fila de encabezado
}
  
.row {
    &:hover {
        background-color: #f1f1f1; // Color al pasar el mouse sobre la fila
    }
}

// Estilos para botones de acción
.action-btn {
    margin: 0 8px; // Espacio entre los botones de acción
}
  
mat-icon {
    font-size: 20px; // Tamaño de los iconos
}
